.bg-white {
	background: #fff !important;
}
.bg-blue {
	background: #0a2a43 !important;
}
.bg-orange {
	background: #ff8a00 !important;
}
.bg-light {
	background: #f7efe4 !important;
}
.bg-dark {
	background: #141a36 !important;
}
.bg-transparent {
	background: transparent !important;
}
.bg-white {
	background: #ffffff00;
}
.bg-blue {
	background: #a7d9ff;
}
.app-main {
	position: relative;
	z-index: 1; /* sørger for at indholdet ligger over evt. baggrundsvideo */
	transition: background 0.5s cubic-bezier(.4,0,.2,1);
}

.background-video-layer {
	z-index: 0;
	width: 100%;
	overflow: hidden;
	display:inline;
	inset: 0;
	pointer-events: none;
  position: absolute;
  margin-top: 100px;
}

.background-video {
	position: absolute;
	inset: 0;
	width: 1100px;
	object-fit: cover;
  margin: auto;
}
